[submodule "edk2"]
	path = dependencies/edk2
	url = https://github.com/kohlschuetter/edk2.git
[submodule "setup_var.efi"]
	path = dependencies/setup_var.efi
	url = https://github.com/kohlschuetter/setup_var.efi.git
